.button.is-slim {
  padding-top: calc(0.25em - 1px);
  padding-bottom: calc(0.25em - 1px);
  height: 2em;
}

.buttons.are-slim .button {
  @extend .button.is-slim
}

.navbar-item .icon {
  margin-right: $gap/2;
}

@media screen and (min-width: $desktop ) {
  .navbar-dropdown a.navbar-item {
    padding-right: $size-normal;
  }
}

@media screen and (max-width: $desktop - 1) {
  .has-dropdown>.navbar-link {
    display: none;
  }

  .navbar-dropdown {
    font-size: $size-normal;
  }

  .navbar-dropdown>.navbar-item {
    padding-left: $size-small;
  }
}
